.place__like {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 22px;
    align-self: flex-end;
    flex-basis: 22px;
}

.place__like:active {
    background-image: url(../../../images/like-active.svg);
}